# Question 7

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("gapminderhealth.csv")
df.head()

,Continent,Country,Year,Life Expectancy,Gender,BMI,Blood Pressure,Cholesterol,Lung Cancer,Liver Cancer,Stomach Cancer,Population,Population Growth
0,Asia,Afghanistan,1990,48.9,women,20.7,124,4.55,194.00,107.00,406.00,6067.694,6.751313
1,Europe,Albania,1990,69.1,women,25.1,131,4.99,91.00,75.20,96.50,1603.313,0.509009
2,Africa,Algeria,1990,65.2,women,24.7,131,4.95,181.00,140.00,304.00,12722.507,2.460521
3,Africa,Angola,1990,39.6,women,20.9,130,4.66,127.00,165.00,200.00,5911.638,3.464691
4,Americas,Antigua and Barbuda,1990,68.7,women,25.7,126,5.01,1.42,1.57,2.67,32.219,1.480493